/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: 'PressStart2P-Regular';
  font-weight: 400;
  src: url(../fonts/PressStart2P-Regular.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Variable';
  font-weight: 400 785;
  src: url(../fonts/Inter-Variable.woff2) format('woff2 supports variations'),
       url(../fonts/Inter-Variable.woff2) format('woff2-variations');
  font-style: normal;
}
