/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
  fill: #ffffff;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
  fill: #ffffff;
}

.like-icon .contour {
  transition: fill 0.1s linear;
  fill: #000000;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: #000000;
}

.like-icon:hover .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: #000000;
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: #ff0000;
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: #ff0000;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: #ff0000;
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: #ff0000;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: #ff0000;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

@keyframes heart {
  0% { transform: scale(1); }
  100% { transform: scale(1.5); }
}

@keyframes sparks {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes arrow {
  0% { transform: translate(0); }
  100% { transform: translate(4px); }
}
