@keyframes triangle-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
