:root {
  --font: 'Arial';
  --font-accent: 'Courier New';
  
  --main-font-size: 16px;
  --accent-font-size: 12px;
  
  --card-inline-size: 100%;
  
  --main-color: black;
  --bg-color: white;
  
  --bg-image: linear-gradient(white, gray);
}
